* {
    padding: 0;
    margin: 0
  }


  /*Background style////////////////////////////////////////////*/
  
  body {
    background-color: #000000;
  }


  .fades > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
  }

.fades > figure:nth-child(1) {
  background-image: url('img/1.jpg');
}
.fades > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('img/2.jpg');
}
.fades > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('img/3.jpg');
}
.fades > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('img/4.jpg');
}
.fades > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('img/5.jpg');
}

@keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    60% {
      opacity: 0
    }
  }

  /*Navigation Bar Style////////////////////////////////////////////////////////////////*/

#signup-button {
  box-sizing: border-box;
  text-transform: none;
  display: inline-block;
  margin-bottom: 0;
  font-family: Helvetica,Arial,sans-serif;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;
  padding: 7px 15px;
  color: #fff;
  background: transparent;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  margin-top: 20px;
  position: absolute;
  left: 90%;
  border: #fff solid 2px;
  border-radius: 4px;
  transition: 0.5s;
}

#signup-button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}


#login {
  box-sizing: border-box;
  text-transform: none;
  display: inline-block;
  margin-bottom: 0;
  font-family: Helvetica,Arial,sans-serif;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  border-radius: 4px;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;
  padding: 7px 15px;
  background: none;
  border:  2px;
  color: #fff;
  margin-top: 22px;
  position:  absolute;
  left: 83%;
  transition: 0.5s;
  

}

#login:hover{

  background-color: #383737;
  border: #000000  1px;
  color : white;
  transition: 0.5s;
}

#bar{
  color : white;
  font-size: 19px;
  font-weight: 2000;
  position:  absolute;
  margin-top: 27px;
  left: 81%;
}

#categories {
  box-sizing: border-box;
  text-transform: none;
  display: inline-block;
  margin-bottom: 0;
  font-family: Helvetica,Arial,sans-serif;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  border-radius: 4px;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;
  padding: 7px 15px;
  background: none;
  border:  2px;
  color: #fff;
  margin-top: 22px;
  position:  absolute;
  left: 71.1%;
  transition: 0.5s;
  
}

#categories:hover{

  background-color: #383737;
  border: #000000  1px;
  color : white;
  transition: 0.5s;
}

#home {
  box-sizing: border-box;
  text-transform: none;
  display: inline-block;
  margin-bottom: 0;
  font-family: Helvetica,Arial,sans-serif;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  border-radius: 4px;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;
  padding: 7px 15px;
  background: none;
  border:  2px;
  color: #fff;
  margin-top: 22px;
  position:  absolute;
  left: 65%;
  transition: 0.5s;
  
}


#home:hover{

  background-color: #383737;
  border: #000000  1px;
  color : white;
  transition: 0.5s;
}

/*logo//////////////////////*/

#logo {
  position: absolute;
  margin-top: 20px;
  width: 300px;
  margin-left: 36px;

}

/*bar///////////////////////////////////////*/
nav {
  background: rgba(187, 186, 186, 0.5);
  height: 80px;
  width: 100%;
}

nav{
  position: relative;
}


/*Search///////////////////////////////////////////*/

.search-bar{

position: relative;
font-family: Helvetica,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
text-rendering: auto;
box-sizing: border-box;
margin-top: 0;
margin-bottom: 0;
padding-bottom: 14px;
color: #fff;
font-weight: 600;
font-size: 48px;
line-height: 48px;
text-shadow: 0 2px 6px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.25);
margin-left: 50px;

}

#headlight{
  margin-top: 133px;
  margin-left: 50px;
  
}

.search-selector{
 margin-left: 50px ;
 width: 819px;
 height: 49px;
 font-size: 20px;
 font-weight: 500;
 border-radius: 8px;
 ;
 
 
}

#opacity {
  color: #383737;

}

.search-btn{
  

color: #fff;
background: #2e64e2;
box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
width: 150px;
height: 100%;
padding: 8px 15px 6px;
font-weight: 600;
font-size: 20px;
line-height: 19px;
border-radius: 0 5px 5px 0;
border-radius: 8px;
cursor: pointer;
height: 50px;
margin-right: 90px;
transition: 0.5s;

}
.search li{
  display: inline;
}

.search-btn:hover{
  background: #0d2d79;
  transition: 0.5s;
}

/*Login modal/////////////////////////////////////////////////*/

/* Bordered form */
#forma {
  border: 3px solid #f1f1f1;
  position: relative;
  background-color: rgba(187, 186, 186,0.7);;
  width: 500px;
  border-radius: 9px;
  margin-bottom: 500px;
  margin-left: 450px;
  

  
}

/* Full-width inputs */
.inpu[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.button--login-cancel {
  background-color: #2e64e2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 9px;
  font-family: Helvetica,Arial,sans-serif;
}

/* Add a hover effect for buttons */
.button--login-cancel:hover {
  transition: 0.5s;
  background-color: #0d2d79;
}

/* Extra style for the cancel button (red) */
#cancelbtn {
  width: auto;
  padding: 12px 28px;
  background-color: #f44336;
  margin-left: 200px;
}

/* Center the avatar image inside this container */
.imgcontainerlog {
  text-align: center;
  margin: 24px 0 0px 0;
  
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.containerlog {
  padding: 7px;
  color: white;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 800;
  
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/*sIGN UP/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#formasignup {
  border: 3px solid #f1f1f1;
  position: relative;
  background-color: rgba(187, 186, 186,0.7);;
  width: 500px;
  border-radius: 9px;
  margin-bottom: 500px;
  margin-left: 450px;
  

  
}